extends layout

block content
  h1 Visual Studio Code - Starter Express Application (JavaScript)
  p Welcome to #{title}

  | For more information, please see out the 
  a(href='/readme') Quick Start
  |.