extends layout

block content
  h1 Visual Studio Code - Starter Express Application
  p Welcome to #{title}
  
  p This is an 
    a(href='http://expressjs.com/starter/generator.html') Express Generator
    |  sample customized for development using 
    a(href='http://code.visualstudio.com') Visual Studio Code
    | . This example illustrates:
  p
    ul
      li <b>Great IntelliSense: </b>
        a(href='https://github.com/borisyankov/DefinitelyTyped') TypeScript Definition Files
        |  provide IntelliSense for Node, Express, Mocha, and Gulp. Use 
        a(href='http://definitelytyped.org/tsd') TypeScript Definition Manager tool
        |  (TSD) to install additional typings.
      p
      li <b>Iterative Development: <b>
        a(href='http://www.browsersync.io/') BrowserSync
        |  and
        a(href='http://nodemon.io/') nodemon
        |  to automatically recycle your client and server while developing in Visual Studio Code. Run the `browser-sync` gulp task from the Terminal.
      p
      li <b>Test: </b>
        a(href='http://mochajs.org') Mocha
        |  is a popular test framework for Node applications. Press 
        span(class='blocktext') Ctrl+Shift+T
        |  (Windows, Linux) or 
        span(class='blocktext') Cmd+Shift+T
        |  (OS X) to run the tests.
      p
      li <b>StyleSheets: </b>
        a(href='http://lesscss.org') LESS
        |  is a CSS pre-processor that extends CSS to allow for typical programming construcs such as variables, mixins, and functions. To compile your .less file to .css press 
        span(class='blocktext') Ctrl+Shift+B
        |  (Windows, Linux) or 
        span(class='blocktext') Cmd+Shift+B
        |  (OS X).
      p
      li <b>Debugging: </b>
        a(href='https://code.visualstudio.com/Docs/debugging') Launch Configurations
        |  are used for running your application under the debugger as well as launching the Mocha tests under the debugger. Open the Debug viewlet, select 
        span(class='blocktext') Launch ./bin/www
        |  and press 
        span(class='blocktext') F5
        |  to run the application.
      p
      li <b>Integration with existing tools: </b>
        a(href='https://code.visualstudio.com/Docs/tasks') Task Configurations
        |  allow for control over how individual 
        a(href='http://gulpjs.com') Gulp
        |  tasks are launched. Run tasks from the Command Palette by pressing 
        span(class='blocktext') Ctrl+P
        |  (Windows, Linux) or 
        span(class='blocktext') Cmd+P
        |  (OS X), type in 
        span(class='blocktext') task
        |  and then press 
        span(class='blocktext') space
        |  to see all of the tasks in the provided 
        span(class='blocktext') gulpfile.js
        | .

  p For more information, please visit us at 
    a(href='http://code.visualstudio.com') code.visualstudio.com
    | , read the 
    a(href='http://code.visualstudio.com/docs') documentation
    |  and follow us on twitter 
    a(href='https://twitter.com/code') @code
    | .
